<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="show_sql">true</property>
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="connection.url">jdbc:mysql://127.0.0.1:3306/shop?jdbcCompliantTruncation=false</property>
	<property name="connection.username">root</property>  
	<property name="connection.password">201611701127</property>  
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect  
	</property>

	<!-- 加载映射 -->
	<mapping resource="cn/organization/O/FirstOrganization.hbm.xml" />
	<mapping resource="cn/organization/O/SecondOrganization.hbm.xml" />  
	<mapping resource="cn/organization/O/ThirdOrganization.hbm.xml" />
	
	<mapping resource="cn/payPosition/O/PayItem.hbm.xml" />
	<mapping resource="cn/organization/O/Category.hbm.xml" />
	<mapping resource="cn/organization/O/Position.hbm.xml" />
	<mapping resource="cn/people/O/People.hbm.xml" />
	<mapping resource="cn/payPosition/O/PayRatio.hbm.xml" />
	<mapping resource="cn/people/O/User.hbm.xml" />
	<mapping resource="cn/people/O/RolePower.hbm.xml" />
	<mapping resource="cn/payPosition/O/StandardV.hbm.xml" />
	<!-- 检查你的hibernate.cfg.xml文件中的相关联的两个<mapping resource=""/>的顺序，
	可能有其中一个需要引用另一个，但是另一个却还没有编译，就是说被用作外键的表要放在前面；检查name名字是否对应 -->
</session-factory>
</hibernate-configuration>
